<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card hero">
                <h1 class="card-title text-center">PokeDex Virtual</h1>
                <div class="card-body">
                    <div class="form-group">
                        <label for="user">Usuário</label>
                        <input type="text" name="user" id="user" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Senha</label>
                        <input type="password" name="password" id="password" class="form-control">
                    </div>
                    <button class="btn btn-primary btn-login" routerLink="/listar">Login</button>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <img src="../../assets/pokedex.jpg" alt="Pokedex" class="img-responsive home-img">
        </div>
    </div>
</div>